@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

@layer base {
  body{
      @apply font-[Rubik];
      @apply bg-[#0D0D2B] text-[#FFFFFF] tracking-wide
  }
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./images/Illustration\ \(3\).png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

